body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

form {
    background-color: #ffffff;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

h2 {
    text-align: center;
    color: #333333;
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333333;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 3px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #0077c2;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #005fa3;
}

p {
    text-align: center;
    margin-top: 15px;
    color: #333333;
}

a {
    color: #0077c2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    position: relative;
    display: inline-block;
  }
  
  .logo-image {
    display: block;
    width: 200px; /* Adjust the width as needed */
    border-radius: 50%;
  }
  
  .logo-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: Arial, sans-serif;
    font-size: 20px; /* Adjust the font size as needed */
    text-transform: uppercase;
    pointer-events: none; /* Ensures that the text does not capture hover events */
  }

  body {
    background-color: lightblue;
    font-family: Arial, sans-serif;
  }
  
  #container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  #login-form {
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  #login-form h2 {
    text-align: center;
    color: orange;
  }
  
  #login-form input[type="text"],
  #login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  #login-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: orange;
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: bold;
  }
  
  #login-form a {
    text-align: center;
    color: #777;
    text-decoration: none;
  }
  
  #login-form a:hover {
    color: orange;
  }
