/* .container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  max-width: 30rem;
  height: 20rem;
}

.offer {
	position: relative;
	overflow: hidden;
  max-width: 30rem;
  left: 50%;
  transform: translateX(-50%);
}

.offer img {
	display: block;
	max-width: 30rem;
	height: 20rem;
	transition: transform 0.5s;
  margin: 1rem;
}

.offer:hover img {
	transform: scale(1.2);
}

.offer p {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #333;
	color: white;
	padding: 10px;
	margin: 0;
	opacity: 0;
	transition: opacity 0.5s;
  max-width: 30rem;
  transition: transform 0.5s;
  
}

.offer:hover p {
	opacity: 1;
 
} */

body {
  background-color: #87CEEB;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offer {
  width: 100%;
  max-width: 30rem;
  margin: 1rem auto;
  text-align: center;
}

.offer img {
  display: block;
  width: 100%;
  max-width: 30rem;
  height: auto;
  transition: transform 0.5s;
  margin: 1rem auto;
  border-radius: 10px;
}

.offer:hover img {
  transform: scale(1.1);
  text-decoration: none;
}

.offer p {
  /* background-color: #333; */
  color: black;
  padding: 10px;
  margin: 0;
  opacity: 0;
  transition: opacity 0.5s;
  text-decoration: none;
}

.offer:hover p {
  opacity: 1;
  text-decoration: none;

}

a{
  text-decoration: none;
}

