body {
    background-color: #87CEEB;
    font-family: Arial, sans-serif;
  }

  h2 {
    text-align: center;
    color: white;
    font-size: 24px;
    margin: 10px;
    padding: 5px;
  }

  #container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
    height: 100vh;
  }
  #form-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  #login-form {
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  #login-form h2 {
    text-align: center;
    color: orange;
  }

  #login-form input[type="text"],
  #login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  #login-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: orange;
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: bold;
  }

  #login-form a {
    text-align: center;
    color: #777;
    text-decoration: none;
  }

  #login-form a:hover {
    color: orange;
  }
  img {
    border-radius: 50%;
    width: 450px;
}