/* CSS styles for the current course page */
body {
  background-color: #87CEEB;
}
.current-course {
    max-width: 800px;
    margin: 2rem auto;

    padding: 20px;
    background-color: #3686A8;
    border: 1px solid #ccc;
    border-radius: 5px;
   
  }
  
  .current-course h2 {
    font-size: 28px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .current-course p {
    margin-bottom: 10px;
    line-height: 1.5;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .current-course .course-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .current-course .average-rating {
    font-weight: bold;
    color: #f57c00;
  }
  
  .current-course .review {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #87CEEB;
    border-radius: 7px;
    padding-left: 20px;
  }
  
  .current-course .review p {
    margin-bottom: 5px;
    text-shadow: 2px 2px 4px rgb(0, 0, 0.5);
    color: #fff;
  }
  
  .current-course .review form {
    margin-top: 10px;
  }
  
  .current-course .review form input[type="submit"] {
    background-color: orange;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  }
  
  .current-course .review form input[type="submit"]:hover {
    transform: scale(1.1);
    background-color: #0056b3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .current-course .review .delete-review {
    margin-top: 10px;
  }
  
  .current-course .review .delete-review input[type="submit"] {
    background-color: orange;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
  }
  
  .current-course .review .delete-review input[type="submit"]:hover {
    background-color: orange;
  }
  
  h3{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  p{
    text-shadow: none;
  }

  form input, form textarea {
    width: 100%;
    padding: 5px;
    font-size: 14px;
    margin-bottom: 10px;
}

input[type="submit"]{
  width: 20%;
}